body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(135deg, #fbb9f1, #6a60c7, #3b8fb3);
    color: white;
}
.container {
    text-align: center;
    padding: 40px;  
}
h1 {
    font-size: 40px;
    margin-bottom: 30px;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}
.card {
    background: rgba(133, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 15px rgba(86, 86, 86, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card: hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}
.card h2 {
    margin-top: 10px;
}
.card p {
    font-size: 24px;
    font-weight: bold;
    color: #ddd;
}
button {
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #7ddbf3;
    color:black;
    font-size:bold ;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #d93bf5;
}